body{
    background: #f3f3f3;
    font-family: sans-serif;
    font-size: 16px;
}

a{ color:#1B434C ;}
a:hover{ color: rgba(27, 67, 76, .5);}

/* HEADER */
header{
    background: #3D8285;
    padding: 10px;    
}

header .logo {
    height: 22px;
}

/* BUSCAR */

header .buscar form input[type="text"] {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px 0 0 3px;
    color: #000000;
    font-family: sans-serif;
}

header .buscar form button {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: #6d6d6d;
}
header .buscar form button:hover {
    background: #6A9E9F;
    color: #fff;
} 

/* MENÚ */

header .menu {
    padding: 0;
}

header .menu a {
    color: rgba(33, 58, 68, 0.9);
    text-decoration: none;
}
header .menu a:hover{
    color: rgba(130, 186, 212, 0.2);
}

header .menu .imagen {
    display: inline-block;
    width: 22px;
    height: 22px;
    
}

header .menu .imagen img {
    border-radius: 100px;
}

/* MAIN */
main {
    padding-top: 20px;
} 

/* BARRA LATERAL IZQUIERDA  */

main .barra-lateral-izquierda {
    padding-bottom: 10px;
    padding-left: 0;
}
main .barra-lateral-izquierda nav {
    border-bottom: 1px solid #c7c8ca;
    padding-bottom: 20px;
}
main .barra-lateral-izquierda nav a {
    display: block;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    color: #152C32;
}

main .barra-lateral-izquierda nav a:hover {
    background: #E8F2F5;
    text-decoration: none;
}

main .barra-lateral-izquierda nav a i {
    margin-right: 10px;
}

/* <!-- CONTENIDO PRINCIPAL --> */
/* PUBLICAR */
main .contenido-principal .publicar {
    margin-bottom: 20px;
}

main .contenido-principal .publicar .foto a {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
    margin-top: 20px;
}
main .contenido-principal .publicar .foto img{
    width: 100%;
}
main .contenido-principal .publicar form textarea {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-family: sans-serif;
    color: #565656;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
}
main .contenido-principal .publicar form .contenedor-botones {
    padding: 20px 0;
    border-bottom: 1px solid #c7c8ca;
}
main .contenido-principal .publicar form .contenedor-botones a{
    color: #16343b;
    font-size: 20px;
    margin-right: 10px;
}
main .contenido-principal .publicar form .contenedor-botones a:hover {
    color: #406a74;
}
main .contenido-principal .publicar form button {
    border: 1px solid #293B41 ;
    padding: 5px 30px;
    font-size: 14px;
    font-family: sans-serif;
    background: linear-gradient(to bottom,#406a74, #32515c 100%);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
main .contenido-principal .publicar form button:hover{
    background:  #4d747e;
}

/* PUBLICACIONES */
main .publicacion .foto a {
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100px;
}

main .publicacion .foto img{
    width: 100%;
}

main .publicacion .nombre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    margin-bottom: 10px;
    color: #16343b
}
main .publicacion .texto {
    background: #fff;
    color: #293B41;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 15px;
}
main .publicacion .imagen{
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
}
main .publicacion .imagen img{
    width: 100%;
}

main .publicacion .post .caja-botones {
    margin-bottom: 20px;
}

main .publicacion .post .caja-botones button{
    background: #406a74;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    display: inline-block;
    font-size: 17px;
    line-height: 18px;
    border-radius: 5px;
    border: none;
}
main .publicacion .post .caja-botones button:hover{
    background: #1B434C;
}

main .publicacion .post .caja-botones p{
    margin-bottom: 0;
    color: #293B41;
}

/* COMENTARIOS */

main .publicacion .comentario {
    margin-bottom: 20px;
    padding-bottom:20px;
    border-bottom: 1px solid #cbcbcb;
}
main .publicacion .comentario .foto {
    padding-left: 0;
    padding-right: 15px;
}
main .publicacion .comentario .foto a{
    display: inline-block;
    width: 40px;
    height: 40px;
}

main .publicacion .comentario form textarea{
    width: 100%;
    background: #fff;
    border: 1px solid #cdcdcd;
    color: #565656;
    padding: 8px;
    min-height: 40px;
    height: 40px;
    min-width: 100%;
    max-width: 100%;
    font-size: 14x;
}
main .publicacion .comentario .respuesta{
    font-size: 14px;
    margin-bottom: 10px;
}
.publicacion .comentario .me-gusta{
    font-size: 14px;
}
/* BARRA LATERAL DERECHA */
main .barra-lateral-derecha h3 {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}
main .barra-lateral-derecha .ads a{
    margin-bottom: 15px;
    display: inline-block;
}
main .barra-lateral-derecha .ads a img {
    width: 100%;
}

/* FOOTER */
main footer{
    font-family: sans-serif;
    font-size: 14px;    
}
main footer a{
    color: #406a74;
    line-height: 14px;
    margin-right: 10px;
}
main footer .copyright{
    color: #919191;
}
/* MEDIAQUERIES */

@media screen and (max-width:767px){
    main .btn-menu {
        display: block;
        border: 1px solid #293B41;
        padding: 5px 19px;
        font-size: 14px;
        background: linear-gradient(to bottom,#406a74, #32515c 100%);
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 20px;
        text-align: center;
    }

    main .btn-menu:hover {
        text-decoration: none;
        background:  #4d747e;
    }

    main .fondo-enlace {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        cursor: pointer;
        background: rgba(7, 38, 56, 0.459);
        z-index: 99;
        display: none;
    }
    main .fondo-enlace.active{
        display: block;
    }

    main .barra-lateral-izquierda{
        width: 85%;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        background: rgba(13, 58, 66, 0.85);
        height: 100vh;
        margin: 0;
        padding: 0;
        transform: translateX(-100%);
        transition: all .3s ease;
        overflow: scroll;
    }

    main .barra-lateral-izquierda.active{
        transform: translateX(0%);
    }

    main .barra-lateral-izquierda nav {
        border-bottom: none;
    }

    main .barra-lateral-izquierda nav a {
        padding: 20px;
        color: #fff;
    }
    main .barra-lateral-izquierda nav a:hover{
        color: #406a74;
        background-color: #fff;
    }
}

@media screen and (max-width:575px){
    header .menu{
        padding: 15px 15px 0 15px;
    }

    main .contenido-principal .publicacion .foto{
        padding-right: 1;
    }

    main .contenido-principal .publicacion .foto a {
        width: 40px;
        height: 40px;
    }
    main .contenido-principal .publicar .foto {
        display: none;
    }
}